name: Lambda Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy Lambda
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: NPM Install
        run: npm install
        working-directory: emoji-tracker
        env:
          CI: true
      - name: Write Secrets
        run: |
          echo SLACK_OAUTH=$SLACK_OAUTH >> emoji-tracker/.env
          echo SLACK_WORKSPACE=$SLACK_WORKSPACE >> emoji-tracker/.env
      - name: Upload to Lambda
        uses: appleboy/lambda-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ secrets.AWS_REGION }}
          function_name: emoji-tracker
          source: emoji-tracker
